// archive list
mixin archiveList()
    .archive
        ul.post-archive
            - var currentMonth = 0;
            - var change = false;
            - page.posts.each(function (post) {
                - var postMonth = date(post.date, 'YYYY-MM');
                - change = currentMonth !== postMonth;
                - month = change ? postMonth : currentMonth;
                if change 
                    h2.archive-month!= month
                    - currentMonth = postMonth;
                li.post-item
                    a(class="post-title" href=url_for(post.path)) #{post.title}
                    span.post-date #{date(post.date, "MMM D")}
            - })