.archive {
  margin: 1em auto;
  padding: 30px 50px;
  background-color: #fff;

  .post-archive {
    list-style: none;
    padding: 0;

    .post-item {
      margin: 15px;
      box-shadow: 0 0 5px 1px #ddd;
      width: 250px;
      min-height: 50px;
      display: inline-block;

      .post-date {
        display: inline-block;
        margin-right: 10px;
        color: #BABABA;
        font-size: .8em;
        margin-left: 20px;
      }
      .post-title {
        color: #368CCB;
        text-decoration: none;
        margin-left: 20px;
      }
    }
  }
}