// post code style

pre {
  margin-left: 0;
  margin-right: 0;
  padding: 20px 0px;
  font-size: 14px;
  width: 100%;
  overflow: auto;
  code {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  }
}

p code {
  background-color: #000;
  color: #fff;
  font-size: 14px;
  line-height: 12px;
  padding: 2px;
  border-radius: 5px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}