// paginator style
.page-nav {
  margin-top: 50px;
  text-align: center;

  .page-number {
    margin: 5px;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-bottom: 1px solid #ddd;
  }

  .page-number:hover {
    border-bottom: 2px solid #000;
  }

  .current {
    border-bottom: 2px solid #000;
  }

  .extend {
    font-size: 16px;
    font-family:  Consolas, "Liberation Mono", Menlo, Courier, monospace;
    border-bottom: 2px solid #ddd;
    display: inline-block;
  }

  a {
    text-decoration: none;
    color: #000;
  }

}